<!DOCTYPE html>
<html ng-app="liveCalendar">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LiveCalendar</title>
    <link href="@VirtualPathUtility.ToAbsolute("~/Content/Site.css")" rel="stylesheet" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="@VirtualPathUtility.ToAbsolute("~/Scripts/jquery/jquery-1.7.1.min.js")"></script>
</head>
<body>
    @RenderSection("page")
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
    <script src="@VirtualPathUtility.ToAbsolute("~/Scripts/app.js")"></script>
</body>
</html>
    